extends template 

block content
    h1 #{article.title}
    p #{article.content}
    //- '!{article.location}'
    include:markdown-it ../articles/git.md
    //- - var loc = #{article.location}
    //- include:markdown-it !{loc}
    //- script. 
    //-     var loc = '!{article.location}'
    //-     console.log(loc)
    //- include:markdown-it location